* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: azure;
}
.header {
  width: 100%;
  height: 50px;
  background-color: aquamarine;
}

.tarjetaEnvios {
  display: flex;
  gap: 10px;
  justify-content: center;
  padding: 30px;
}

.movimientoGenerado {
  padding: 15px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: bisque;
  margin-bottom: 10px;
}

.movimientoGenerado h2 {
  font-size: large;
  font-weight: bold;
}

.contenedor--formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 600px;
  border: 2px solid black;
  margin: 40px auto;
}

.formulario--titulo {
  margin-bottom: 20px;
}

.formulario {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formulario input, .formulario select {
  width: 100%;
  padding: 5px;
  border: none;
  background: none;
  outline: none;
  border-bottom: 1px solid black;
}

.formulario .div__boton {
  text-align: center;
}

.formulario .div__boton button {
  min-width: 130px;
  height: 40px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #4433ff;
  color: #4433ff;
}
.formulario .div__boton button:hover {
  color: #fff;
}
.formulario .div__boton button:hover:after {
  width: 100%;
}
.formulario .div__boton button:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #4433ff;
}